**/.git
**/vendor
**/node_modules
**/src
**/web/wp-content/plugins
**/web/wp-content/themes/**/css
**/web/wp-content/themes/**/js
**/*.json
**/*.jsonc
**/*.lock
**/*.css
**/*.js
**/*.mjs
**/*.cjs
**/*.jsx
**/*.ts
**/*.tsx
.prettierrc

